image: node:12

before_script:
  - npm install -g eslint
  - npm install -g babel-eslint
  - npm ci

#cache:
#  paths:
#    - node_modules/

# TODO: Error: Failed to load parser 'babel-eslint' declared in '.eslintrc.json': Cannot find module 'babel-eslint'
#test:lint:
#  script:
#    - npm run lint

# LTS
test:node:12:
  script:
    - node -v
    - npm -v
    - npm run clean
    - npm run build
    - npm test
    - npm run version12

test:node:11:
  image: node:11
  script:
    - node -v
    - npm -v
    - npm run clean
    - npm run build
    - npm test
    - npm run version

# LTS
test:node:10:
  image: node:10
  script:
    - node -v
    - npm -v
    - npm run clean
    - npm run build
    - npm test
    - npm run version
