language: node_js
node_js:
  - "10"
  - "11"
  - "12"

#branches:
#  only:
#    - master

sudo: false

before_script:
  - npm run clean
  - npm ci
  - npm run lint
  - npm run build
  - npm test
  - npm run version
