on: [push, pull_request]

jobs:
  test:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [10, 12]
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}
    
    - name: npm install, build and test
      run: |
        npm install -g npm
        npm run clean
        npm ci
        npm run lint
        npm run build
        npm test
        if [[ $(node -e "console.log(process.version.match(/^v(\\d+)\\.\\d+\\.\\d+/)[1])") -ge 12 ]]; then npm run version12; else npm run version; fi
